[tool.black]
line-length = 100

[tool.coverage.report]
exclude_lines = [
    "pragma: no cover",
    "raise AssertionError",
    "raise NotImplementedError",
    "raise ValueError",
]

[tool.isort]
profile = "black"
line_length = 100
skip_gitignore = true

[tool.poetry]
name = "boostedblob"
version = "0.1.0"
description = """
Command line tool and async library to perform basic file operations on local \
paths, Google Cloud Storage paths and Azure Blob Storage paths.\
"""
authors = ["Shantanu Jain <hauntsaninja@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.7"
aiohttp = "^3.6.2"
pycryptodomex = "^3.9.8"
xmltodict = "^0.12.0"
# TODO: consider uvloop

[tool.poetry.dev-dependencies]
pytest = "^6.0.1"
pytest-asyncio = "^0.14.0"
pytest-cov = "^2.10.1"
# blobfile is used in tests
blobfile = "^0.17.0"
# poetry fails to resolve blobfile's dependencies
urllib3 = "*"
filelock = "*"
# tools
ipdb = "*"
black = "^20.8b1"
isort = "^5.4.2"
mypy = "^0.782"  # TODO: actually need an unreleased mypy

[tool.poetry.scripts]
bbb = 'boostedblob.cli:run_bbb'

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
