name: Lint and type check

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - run: pip install wheel
      - run: pip install "tox>=4" "poetry>=1.2"
      - run: tox -e lint
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - run: pip install wheel
      - run: pip install "tox>=4" "poetry>=1.2"
      - run: tox -e mypy
